@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .foot1{
    margin: 10px;
  }
  .footer{
 
    padding: 40px;
    /* padding-left: 60px; */
    display: flex;
    justify-content: space-around;
  }
  .footer p{
    margin: 3px;
    color: gray;
    font-weight: 100;
  }
  .foot1 span{
    color: rgb(61, 60, 60);
    font-weight: 900;
  }
  
}




